<form >
  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="City"
           matInput
           [formControl]="city"
           [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
      @for (geocode of geocodes$ | async; track geocode) {
        <mat-option [value]="geocode">{{ geocode.name }}, {{ geocode.country }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-label>Units</mat-label>
  <mat-radio-group aria-label="Units" [formControl]="units">
    <mat-radio-button value="metric">Metric</mat-radio-button>
    <mat-radio-button value="imperial">Imperial</mat-radio-button>
  </mat-radio-group>
</form>
<div *ngIf="weather$ | async as weather">
  <dl>
    <dt>Description</dt>
    <dd>{{ weather.weather[0].description }}</dd>
    <dt>Temperature</dt>
    <dd>{{ weather.main.temp }} {{getTemperatureUnit()}}</dd>
    <dt>Feels like</dt>
    <dd>{{ weather.main.feels_like }} {{getTemperatureUnit()}}</dd>
    <dt>Min</dt>
    <dd>{{ weather.main.temp_min   }} {{getTemperatureUnit()}}</dd>
    <dt>Max</dt>
    <dd>{{ weather.main.temp_max }} {{getTemperatureUnit()}}</dd>
    <dt>Wind</dt>
    <dd>{{ weather.wind.speed }} {{getWindSpeedUnit()}} {{getWindDirection(weather.wind.direction)}}</dd>
  </dl>
</div>
